---
import Page from '../layouts/Page.astro'
---

<Page>
	<section class="py-52 max-w-[978px] mx-auto flex flex-col items-center">
		<div class="rounded-full p-7 border border-black/[.04] shadow-[0_9px_5px_-5px] shadow-black/15 my-4">
			<img src="img/logo.png" alt="Setu Logo" class="size-20 object-cover">
		</div>
		<h1 class="text-3xl font-extrabold my-6">Kecamatan Setu</h1>
		<p class="text-center text-sm max-w-[59ch]">Website ini menyediakan semua detail mengenai Kecamatan Setu di Kabupaten Bekasi, meliputi informasi umum, sejarah, potensi daerah, fasilitas, dan layanan masyarakat.</p>
		<div class="relative group mt-14">
			<div class="p-3 h-[440px] w-max rounded-xl bg-white border border-black/15 shadow-[0_15px_13px_-5px] shadow-black/10 duration-500 ease-out absolute top-0 -z-10 -rotate-6 group-hover:-rotate-12 group-hover:-translate-x-56 group-hover:translate-y-8 no-hover:-rotate-12 no-hover:-translate-x-40 no-hover:translate-y-8">
				<img src="img/home1.png" alt="" class="size-80 object-cover">
			</div>
			<div class="p-3 h-[440px] w-max rounded-xl bg-white border border-black/15 shadow-[0_15px_13px_-5px] shadow-black/10">
				<img src="img/home2.png" alt="" class="size-80 object-cover">
			</div>
			<div class="p-3 h-[440px] w-max rounded-xl bg-white border border-black/15 shadow-[0_15px_13px_-5px] shadow-black/10 duration-500 ease-out absolute top-0 -z-10 rotate-6 group-hover:rotate-12 group-hover:translate-x-56 group-hover:translate-y-8 no-hover:rotate-12 no-hover:translate-x-40 no-hover:translate-y-8">
				<img src="img/home3.png" alt="" class="size-80 object-cover">
			</div>
		</div>
	</section>
</Page>