<footer class="px-4 xs:px-10 sm:px-20 xl:px-40 2xl:px-80 py-20 bg-darkGray flex flex-col gap-12">
	<div class="flex flex-col lg:flex-row gap-12 xl:gap-48">
		<div class="flex flex-col gap-12">
			<p class="text-[#DDDDDD] font-bold text-5xl">Kecamatan Setu.</p>
			<p class="text-[#DDDDDD] max-w-[60ch]">Mewujudkan lingkungan RW 011 Perumahan Bekasi Timur Regensi yang <span class="font-semibold">BERKEMAJUAN</span> (<span class="font-semibold">BER</span>sih <span class="font-semibold">KE</span>pribadian a<span class="font-semibold">MA</span>n <span class="font-semibold">JU</span>jur nyam<span class="font-semibold">AN</span>) dilandasi transparansi dan akuntabel</p>
		</div>
		<ul class="text-[#DDDDDD] flex flex-col gap-2">
			<li class="font-bold text-xl mb-3">Quick Links</li>
			<li><a href="#">Beranda</a></li>
			<li><a href="#news">Berita</a></li>
			<li><a href="#population">Populasi</a></li>
			<li><a href="#mission">Visi & Misi</a></li>
			<li><a href="#tourism">Wisata</a></li>
			<li><a href="#gallery">Gallery</a></li>
		</ul>
	</div>
	<hr class="border-[#DDDDDD]">
	<p class="text-[#DDDDDD] font-medium text-base sm:text-xl">Hak Cipta © 2024 Kecamatan Setu, Kabupaten Bekasi</p>
</footer>