<nav class="py-3 lg:py-2 px-14 bg-white/80 backdrop-blur-lg black rounded-3xl fixed top-10 inset-x-6 sm:inset-x-16 xl:inset-x-52 shadow-[0_19px_15px_-14px] shadow-black/[.03] flex justify-between items-center border border-black/25 z-30">
	<img src="/class-meet/img/logo.png" alt="Kecamatan Setu Logo" class="w-12 object-cover">
	<div class="hidden lg:flex gap-8 py-4">
		<ul class="flex gap-12 font-medium text-gray">
			<li><a href="#">Beranda</a></li>
			<li><a href="#news">Berita</a></li>
			<li><a href="#population">Populasi</a></li>
			<li><a href="#mission">Visi & Misi</a></li>
			<li><a href="#tourism">Wisata</a></li>
			<li><a href="#gallery">Gallery</a></li>
		</ul>
	</div>
	<div class="flex lg:hidden flex-col justify-center gap-1.5 cursor-pointer" id="hamburger">
		<div class="w-8 xs:w-10 h-1 bg-darkGray duration-300"></div>
		<div class="w-8 xs:w-10 h-1 bg-darkGray duration-300"></div>
		<div class="w-8 xs:w-10 h-1 bg-darkGray duration-300"></div>
	</div>
</nav>

<div class="opacity-0 invisible translate-x-full lg:hidden duration-500 ease-out fixed left-[60%] right-14 z-30 top-36 bg-white py-10 px-5 rounded-3xl" id="hamburgerList">
	<ul class="flex flex-col gap-8 text-center text-darkGray font-semibold text-xl duration-1000">
		<li><a href="#">Beranda</a></li>
		<li><a href="#news">Berita</a></li>
		<li><a href="#population">Populasi</a></li>
		<li><a href="#mission">Visi & Misi</a></li>
		<li><a href="#tourism">Wisata</a></li>
		<li><a href="#gallery">Gallery</a></li>
	</ul>
</div>

<div class="lg:hidden fixed inset-0 bg-black/80 backdrop-blur-sm pointer-events-none opacity-0 z-20 duration-300 motion-reduce:duration-0" id="hamburgerOverlay"></div>

<script>
	// Hamburger
	const hamburger = document.querySelector("#hamburger");
	const hamburgerList = document.querySelector("#hamburgerList");
	const hamburgerOverlay = document.querySelector("#hamburgerOverlay");
	const hamburgerBar = document.querySelectorAll("#hamburger div");

	hamburger.addEventListener("click", () => {
		hamburgerBar[0].classList.toggle("rotate-45");
		hamburgerBar[0].classList.toggle("translate-y-full");
		hamburgerBar[1].classList.toggle("hidden");
		hamburgerBar[2].classList.toggle("-rotate-45");
		hamburgerBar[2].classList.toggle("-translate-y-[160%]");

		hamburgerList.classList.toggle("opacity-0");
		hamburgerList.classList.toggle("invisible");
		hamburgerList.classList.toggle("translate-x-full");

		hamburgerOverlay.classList.toggle("opacity-0");
		hamburgerOverlay.classList.toggle("pointer-events-none");

		document.querySelector("nav").classList.toggle("bg-white/80");
		document.querySelector("nav").classList.toggle("bg-white");

		document.body.classList.toggle("overflow-hidden")
	});
</script>