<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpeg" href="/favicon.jpeg" />

		<meta property="og:title" content="Profile">
		<meta property="og:description" content="Setu adalah sebuah kecamatan di Kota Tangerang Selatan, Provinsi Banten, Indonesia.">
		<meta property="og:url" content="https://barraIhsan.github.io/class-meet">
		<meta property="og:image" content="https://barraihsan.github.io/class-meet/favicon.jpeg">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Kecamatan Setu, Kabupaten Bekasi">
		<meta name="theme-color" content="#007EFF">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

		<title>Kecamatan Setu</title>
	</head>
	<body>
		<slot />
	</body>
</html>